* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 1.6rem;
}

.hero-shadow {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

/* -------------------------------- */
/*               NAV                */
/* -------------------------------- */

nav {
    font-size: 2rem;
    text-transform: uppercase;
    display: block;
}

.navbar-toggler {
    font-size: 3rem;
}


.navbar-brand {
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: none;
}

nav li a:hover {
    color: #0275d8 !important;
}

nav a {
    color: #fff !important;
}

nav .active {
    color: #0275d8 !important;
}

/* -------------------------------- */
/*              FOOTER              */
/* -------------------------------- */

footer {
    font-size: 1.6rem;
}

footer .author-name {
    opacity: 0.8;
}

/* ------------HEADER------------ */


header {
    font-size: 2rem;
}

/* ------------HOME BRAND----------- */


.carousel-item {
    position: relative;
    height: 550px;
    background-position: center;
    background-size: cover;
    z-index: 0;
}

.carousel-img-one {
    background-image: url('../img/main-carousel-3.jpg');
}

.carousel-img-two {
    background-image: url('../img/main-carousel-2.jpg');
}

.carousel-img-three {
    background-image: url('../img/main-carousel-1.jpg');
}

/* ---------- HOME PASSION -------------- */

.home-passion {
    position: relative;
    height: 350px;
    background-image: url('../img/home-passion-car.jpg');
    background-position: center;
    background-size: cover;
    z-index: 0;
}

/* ------------ HOME BOXES -------------- */

.home-boxes {
    padding: 5em 0;
}

.home-box i {
    font-size: 4rem;
    transition: .3s;
}

.home-box i:hover {
    color: #0275d8
}


.home-box h3 {
    font-size: 2.6rem;
}

@media (min-width: 768px) {}